*{
    margin:0;
    padding:0;
}

.car_details_box{
    width: 100%;
    height: 100vh;
    background: #191919;
    color:#fff;
    font-family: 'Ubuntu' , sans-serif;
    font-size: 20px;
    padding: 10px;
}

.car_details_box .container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}


.car_details_box .car_box{
    display: flex;
    flex-direction: column;
    gap:5px;
    padding-top: 10px;
}

.car_details_box .image_box{
    width: 350px;
    height: 400px;
    border-radius: 5px;
    background: #222222;
    margin: 5px 0;
}

.car_details_box .brand_box{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 23px;
}

.car_details_box .controllers{
    display: flex;
    align-items: center;
    gap:10px;
    margin: 10px 0;
}

.car_details_box .controllers a{
    text-decoration: none;
    color:#ffffff;
}

.car_details_box .controllers button{
    padding: 10px 15px;
    border:none;
    border-radius: 5px;
    font-size: 20px;
    background: rgba(255,255,255,0.3);
    color: #ffffff;
    transition: 0.3s ease;

    &:hover{
        opacity: 0.8;
    }
}


.car_details_box .link_box a{
    color: #d52222;
}

.car_details_box .admin_controller{
    display: flex;
    align-items: center;
    gap: 10px;
}

